@import "../../styles/Colors";
@import "../../styles/Properties";

.root {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  padding: 12px;

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 4px 0;
    border-bottom: 1px solid $gray-20;

    h2 {
      min-width: 120px;
      color: $gray-80;
      font-size: 24px;
      margin: 0;

      @include breakpoint-below-small {
        font-size: 20px;
      }
    }

    h5 {
      color: $gray-60;
      font-size: 16px;
      margin: 0;

      @include breakpoint-below-small {
        font-size: 14px;
      }
    }
  }

  .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 12px 0;

    p {
      color: $gray-60;
      font-size: 14px;
      margin-bottom: 16px;
    }

    .times {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      .time {
        flex: 1;
        flex-grow: 0;
        flex-basis: calc((100% / 6) - 8px);
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 4px 4px;
        padding: 4px 12px;
        font-size: 16px;

        @include breakpoint-below-medium {
          flex-basis: calc((100% / 4) - 8px);
        }

        @include breakpoint-below-small {
          flex-basis: calc((100% / 3) - 8px);
          font-size: 15px;
          margin-bottom: 8px;
        }
      }
    }
  }
}
