@import "../../styles/Properties.scss";
@import "../../styles/Colors.scss";

.root {
  display: flex;
  flex-direction: column;
  margin: 44px 243px 375px 365px;
  h2 {
    margin-top: 50px;
  }
  h5 {
    margin: 32px 0px 8px 0px;
  }
  .checkboxcontainer {
    display: flex;
    flex-direction: row;
    .checkbox {
      margin-right: 12px;
    }
  }
  .buttoncontainer {
    margin-top: 150px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    .button {
      margin-left: 45px;
    }
  }
  .textinput {
    width: 588px;
    margin: 0px 0px;
  }
  .ta {
    width: 588px;
    margin: 0px 0px;
    height: 117px;
  }
  .contactinfo {
    margin-top: 110px;
  }
  .inline {
    color: $secondary-text-color;
    font-size: $font-title4-size;
    font-weight: $font-weight-regular;
    font-family: $font-family-visby;
    line-height: $font-title4-line-height;
  }
  .submit {
    color: $primary-bg-color;
  }
}
