@import "../../../styles/Colors";
@import "../../../styles/Properties";

.root {
  height: 100%;
  display: flex;
  overflow-y: auto;
  flex-direction: column;

  @include breakpoint-below-small {
    flex-direction: row;
    overflow-y: hidden;
    overflow-x: auto;
  }

  .timeSlot {
    width: 100%;
    height: 40px;
    display: flex;
    min-height: 40px;
    border-radius: 4px;
    align-items: center;
    margin-bottom: 12px;
    justify-content: center;
    background-color: $white;
    border: 2px solid $orange-300;

    .timeText {
      margin: 0;
      color: $gray-80;
    }

    @include breakpoint-below-medium {
      font-size: 15px;
    }

    @include breakpoint-below-small {
      margin-bottom: 0;
    }
  }

  .disabledTimeslot {
    border: 2px solid $gray-20;

    .timeText {
      color: $gray-40;
    }
  }

  .selectedTimeslot {
    background-color: $orange-300;

    .timeText {
      color: $white;
    }
  }
}
