@import "../../../styles/Colors";

.meetingContainer {
  width: 480px;
  margin: 0 auto;

  .meetingInfo {
    width: 100%;
    background: $white;
    border-radius: 8px;
    padding: 24px 32px;
    box-sizing: border-box;
    border: 1px solid $gray-10;

    .date,
    .link {
      display: flex;
      text-align: left;
      align-items: center;

      .icon {
        margin-right: 12px;
      }
    }

    .link {
      cursor: pointer;
      margin-top: 12px;
      text-decoration-line: underline;
    }
  }

  .buttons {
    display: flex;
    flex-direction: row;
    margin: 32px 0 48px;
    justify-content: space-between;
  }
}
