@import "../../styles/Colors";

.root {
  display: flex;
  padding: 16px 64px;
  align-items: center;
  text-decoration: none;
  justify-content: center;
  user-select: none;
  border-radius: 8px;

  h3 {
    color: $white;
    line-height: 100%;
  }

  &.primary {
    background-color: $orange-500;
    border: 2px solid $orange-500;

    &:hover {
      background-color: $orange-700;
      border: 2px solid $orange-700;
    }
  }

  &.secondary {
    background-color: $white;

    h3 {
      color: $gray-80;
      line-height: 100%;
    }

    &:hover {
      background-color: $orange-300;
      border: 2px solid $orange-300;

      h3 {
        color: $white;
      }
    }
  }
}
