@import "../../styles/Colors.scss";
@import "../../styles/Properties.scss";

.loadingText {
  margin-top: 40px;
  text-align: center;
}

.root {
  display: flex;
  max-width: 1440px;
  flex-direction: row;

  .leftCol {
    max-width: 466px;
    margin-right: 142px;

    .formTitle {
      margin-bottom: 24px;
    }

    .formDescription {
      color: $gray-60;
    }
  }

  .rightCol {
    width: 100%;
  }

  .sectionHeader {
    width: 100%;
    margin-top: 32px;
    padding-bottom: 6px;
    border-bottom: 1px solid $gray-20;
  }

  h5 {
    margin: 32px 0 8px;

    .inline {
      color: $gray-40;
    }
  }

  .two-col {
    overflow: hidden; /* Makes this div contain its floats */
  }

  .two-col .col1,
  .two-col .col2 {
    width: 49%;
  }

  .two-col .col1 {
    float: left;
  }

  .two-col .col2 {
    float: right;
  }

  .two-col label {
    display: block;
  }

  .buttonContainer {
    display: flex;
    margin-top: 32px;
    flex-direction: row;
    justify-content: flex-end;

    .secondButton {
      margin-left: 48px;
    }
  }
}
