@import "../../styles/Fonts";
@import "../../styles/Colors";

.textArea {
  width: 100%;
  resize: none;
  height: 114px;
  padding: 16px;
  font-size: 16px;
  border-radius: 4px;
  font-weight: normal;
  font-family: $open-sans;
  border: 3px solid $gray-40;

  &:focus {
    outline: none;
    border: 3px solid $orange-500;
  }

  &::placeholder {
    color: $gray-20;
    font-size: 16px;
    font-weight: normal;
    font-family: $open-sans;
  }
}

.disableInput {
  border: 3px solid $red;

  &:focus {
    outline: none;
    border: 3px solid $red;
  }
}
