@import "../../../styles/Colors";

.root {
  .menu {
    > * {
      &:not(:last-of-type) {
      }
    }
  }
}

.user {
  .role {
  }
}

.userImg {
}

.loginButton {
  padding: 8px 32px;
  border-radius: 8px;
  background-color: $white;
  border: 2px solid $orange-500;

  &:hover {
    background-color: $orange-500;

    h3 {
      color: $white;
    }
  }
}
