@import "./Fonts";
@import "./Colors";
@import "./Components";

html,
body,
#__next {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: relative;
  box-sizing: border-box;
  background-color: $white;
  overscroll-behavior: none;
}

body {
  font-family: $open-sans;
}

#app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-sizing: border-box;
}

#sidebar {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

#content {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  color: $gray-80;
  overflow-x: hidden;
  overflow-y: auto;
}

.landingPage {
  flex: 1;
  display: flex;
  text-align: center;
  align-items: center;
  padding: 80px 0 64px;
  flex-direction: column;
  justify-content: center;

  .landingHeader {
    margin-bottom: 32px;
  }

  .landingText {
    color: $gray-80;
    margin: 0 122px 48px;

    a {
      color: $gray-80;
      font-size: 16px;
      font-weight: 800;
      line-height: 120%;
      font-family: $visby;
      font-variant-ligatures: no-common-ligatures;
    }
  }

  .landingButton {
    width: 224px;
    margin: 0 auto;
  }
}

.applicationPage {
  flex: 1;
  height: auto;
  display: flex;
  box-sizing: border-box;
  padding: 40px 0 80px;
  background-color: $gray-5;
}
