$gray-80: #333333;
$gray-60: #666666;
$gray-40: #999999;
$gray-20: #d2d2d2;
$gray-10: #f0f0f0;
$gray-5: #fafafa;
$white: #ffffff;

$orange-700: #ec762f;
$orange-500: #fd8033;
$orange-300: #fd9755;
$orange-gradient: linear-gradient(276.34deg, #ec762f 0%, #fd9755 100%);

$red: #fb3552;
