$primary-bg-color: #ffffff;
$light-bg-color: #f0f0f0;

$primary-text-color: #333333;
$secondary-text-color: #666666;
$light-text-color: #999999;
$lighter-text-color: #D2D2D2;

$primary-brand-color: #EC762F;
$secondary-brand-color: #FD8033;
$error-button-color: #FB3552;
