$primary-bg-color: #ffffff;
$light-bg-color: #fafafa;

$primary-text-color: #333333;
$secondary-text-color: #000000;
$light-text-color: #999999;
$lighter-text-color: #d2d2d2;

$primary-brand-color: #ec762f;
$secondary-brand-color: #fd8033;
$error-button-color: #fb3552;
