$primary-bg-color: #f2f2f2;
$secondary-bg-color: #8a8fa0;
$light-bg-color: #8c8d99;
$dark-bg-color: #303d51;

$primary-text-color: #2f2f2f;
$secondary-text-color: #4f4f4f;
$light-text-color: #e7e7e7;
$dark-text-color: #131313;

$primary-button-color: #007bff;
$secondary-button-color: #6c757d;
$success-button-color: #28a745;
$error-button-color: #dc3545;
$warning-button-color: #ffc107;
