@import "./Fonts";
@import "./Colors";

div,
nav,
article,
label,
input,
textarea,
select,
button {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
label,
input,
textarea,
select,
button {
  margin: 0;
  color: $gray-80;
}

h1 {
  font-size: 36px;
  font-weight: 800;
  font-family: $visby;
  font-variant-ligatures: no-common-ligatures;
}

h2 {
  font-size: 24px;
  font-weight: 800;
  font-family: $visby;
  font-variant-ligatures: no-common-ligatures;
}

h3 {
  font-size: 16px;
  font-weight: 800;
  line-height: 130%;
  font-family: $visby;
  font-variant-ligatures: no-common-ligatures;
}

h4 {
  font-size: 14px;
  font-weight: 800;
  line-height: 120%;
  font-family: $visby;
  font-variant-ligatures: no-common-ligatures;
}

h5 {
  font-size: 16px;
  line-height: 150%;
  font-weight: normal;
  font-family: $open-sans;
}

p,
a,
span {
  font-size: 14px;
  font-weight: normal;
  font-family: $open-sans;
}

button,
div {
  &::-moz-focus-inner {
    border: 0;
  }
}

a,
button {
  cursor: pointer;
}

*:focus:not(.focus-visible) {
  outline: none;
}
