extends ../../assets/base-email.pug
block content
    p You  have a meeting scheduled for #{startDate} at #{startTime}.
    p You can use #[a(href=meetingLink) this link] to join the meeting via video call
