@import "../../../styles/Colors";
@import "../../../styles/Properties";

.addressContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .city,
  .state {
    flex: 2;
    margin-right: 20px;
  }

  .zip {
    flex: 1;
  }
}

.missionHeader {
  margin-top: 52px;
}

.missionText {
  margin-top: 24px;
  margin-bottom: 16px !important;
}
