@import "../../../styles/Colors";
@import "../../../styles/Properties";

.root {
  display: flex;
  max-width: 1440px;
  flex-direction: row;
  padding: 40px 80px;

  @include breakpoint-below-medium {
    flex-direction: column;
  }

  @include breakpoint-below-small {
    padding: 16px;
  }

  .leftCol {
    max-width: 466px;
    margin-right: 142px;
    padding-left: 48px;

    @include breakpoint-below-medium {
      padding-left: 0;
    }

    @include breakpoint-below-small {
      margin-right: unset;
    }

    .formTitle {
      margin-bottom: 24px;
    }

    .formDescription {
      color: $gray-60;
    }
  }

  .rightCol {
    width: 100%;
  }

  .sectionHeader {
    width: 100%;
    margin-top: 4px;
    padding-bottom: 6px;
    border-bottom: 1px solid $gray-20;
  }

  h5 {
    margin: 32px 0 8px;

    .inline {
      color: $gray-40;
    }
  }

  h4 {
    margin-bottom: 8px;
    .inline {
      color: $gray-60;
    }
  }

  .addressContainer {
    display: flex;
    flex-direction: row;
    margin-top: 32px;
    .type {
      display: flex;
      flex-direction: column;
      margin-right: 24px;
      h3 {
        margin-bottom: 4px;
      }
    }
  }

  .buttonContainer {
    display: flex;
    margin-top: 32px;
    float: right;
  }
}
