@import "../../styles/Colors";
@import "../../styles/Properties";

.root {
  width: 700px;
  min-height: 500px;
  max-width: 90%;
  display: flex;
  flex-direction: row;
  border: 1px solid $gray-60;
  border-radius: 8px;
  padding: 32px;

  @include breakpoint-below-small {
    flex-direction: column;
  }

  .calendar {
    flex: 2;
    display: flex;
    flex-direction: column;
    margin-right: 36px;

    @include breakpoint-below-small {
      flex-direction: column;
      margin-right: 0;
    }

    .header {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      margin-bottom: 36px;

      h2 {
        color: $gray-80;
        font-size: 24px;
        margin: 0;
        text-align: left;

        @include breakpoint-below-small {
          font-size: 20px;
        }
      }

      .monthContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        h5 {
          min-width: 120px;
          color: $gray-60;
          font-size: 16px;
          margin: 0;

          @include breakpoint-below-small {
            font-size: 15px;
          }
        }

        .buttonContainer {
          display: flex;
          flex-direction: row;

          .iconButton {
            display: flex;
            justify-content: center;
            align-items: center;
            background: none;
            border: none;
            outline: none;
            padding: 0 8px;
            color: $gray-60;
            font-size: 24px;

            @include breakpoint-below-small {
              font-size: 20px;
            }

            &:disabled {
              color: $gray-20;
            }
          }
        }
      }

      h5 {
        color: $gray-60;
        font-size: 16px;
        margin: 0;

        @include breakpoint-below-small {
          font-size: 14px;
        }
      }
    }

    .content {
      flex: 1;
      width: 100%;
      display: flex;
      flex-direction: row;

      .dayCol {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        h4 {
          color: $gray-80;
          text-transform: uppercase;
          font-size: 16px;
        }

        .days {
          flex: 1;
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;

          button {
            background: none;
            border: none;
            outline: none;
            padding: 5px;
            margin: 5px 0;
            color: $gray-80;
            font-size: 24px;

            &:disabled {
              color: $gray-40;
              cursor: not-allowed;
            }

            &:not(:disabled) {
              .circleWrapper:hover {
                background: $gray-10;
              }
            }

            .circleWrapper {
              width: 40px;
              height: 40px;
              display: flex;
              justify-content: center;
              align-items: center;
              background: none;
              border-radius: 50%;

              @include breakpoint-below-small {
                width: 30px;
                height: 30px;
              }

              &.selectedDate {
                background: $orange-500 !important;
                color: $white;
              }

              h2 {
                color: inherit;
                line-height: 100%;
                font-size: 24px;

                @include breakpoint-below-small {
                  font-size: 20px;
                }
              }
            }
          }

          .daySpacer {
            width: 100%;
            height: 60px;

            @include breakpoint-below-small {
              height: 50px;
            }
          }
        }
      }
    }

    p {
      color: $gray-60;
      font-size: 14px;
      margin: 0;

      @include breakpoint-below-small {
        font-size: 13px;
        margin-bottom: 4px;
      }
    }
  }

  .time {
    height: 500px;
    flex: 1;
    display: flex;
    flex-direction: column;

    @include breakpoint-below-small {
      height: unset;
      flex: unset;
    }

    h5 {
      color: $gray-60;
      font-size: 16px;
      margin-bottom: 16px;

      @include breakpoint-below-small {
        font-size: 15px;
      }
    }
  }
}
