@import "../../styles/Colors";
@import "../../styles/Properties";

.root {
  flex: 5;
  display: flex;
  height: 500px;
  text-align: left;
  padding: 24px 32px;
  border-radius: 8px;
  flex-direction: row;
  background-color: $white;
  border: 1px solid $gray-10;

  @include breakpoint-below-small {
    flex-direction: column;
  }

  .calendar {
    flex: 4;
    display: flex;
    margin-right: 36px;
    flex-direction: column;

    @include breakpoint-below-small {
      margin-right: 0;
    }

    .header {
      display: flex;
      margin-bottom: 32px;
      flex-direction: column;

      h2 {
        color: $gray-80;
        margin: 0 0 8px;

        @include breakpoint-below-small {
          font-size: 20px;
        }
      }

      .monthContainer {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;

        h5 {
          margin: 0;
          color: $gray-60;

          @include breakpoint-below-small {
            font-size: 15px;
          }
        }

        .buttonContainer {
          display: flex;
          flex-direction: row;

          .iconButton {
            padding: 0;
            border: none;
            display: flex;
            outline: none;
            color: $gray-60;
            font-size: 24px;
            background: none;
            align-items: center;
            justify-content: center;

            @include breakpoint-below-small {
              font-size: 20px;
            }

            &:first-of-type {
              margin-right: 12px;
            }

            &:disabled {
              cursor: default;
            }
          }
        }
      }

      h3 {
        margin: 0;
        color: $gray-60;
        font-size: 16px;

        @include breakpoint-below-small {
          font-size: 14px;
        }
      }
    }

    .calendarView {
      flex: 1;
      width: 100%;
      display: flex;
      flex-direction: row;

      .dayColumn {
        flex: 1;
        display: flex;
        align-items: center;
        flex-direction: column;

        .weekButton {
          width: 48px;
          border: none;
          height: 48px;
          display: flex;
          margin-top: 8px;
          align-items: center;
          border-radius: 48px;
          justify-content: center;
          background-color: $white;

          h2 {
            color: $gray-60;
          }

          .disabled {
            color: $gray-40;
          }
        }

        .curDay,
        .disabledButton {
          cursor: default;
        }

        .curDay {
          background-color: $gray-10;

          h2 {
            color: $gray-40;
          }
        }

        .selectedDay {
          border: solid 1px $orange-500;
          background-color: $orange-300;

          h2 {
            color: $white;
          }
        }
      }
    }

    p {
      color: $gray-60;
      margin: 12px 0 0;

      @include breakpoint-below-small {
        font-size: 13px;
        margin-bottom: 4px;
      }
    }
  }

  .time {
    flex: 2;
    height: 100%;
    display: flex;
    flex-direction: column;

    @include breakpoint-below-small {
      flex: unset;
      height: unset;
    }

    h3 {
      color: $gray-60;
      margin-bottom: 16px;

      @include breakpoint-below-small {
        font-size: 15px;
      }
    }
  }
}
