@import "../../styles/Colors";
@import "../../styles/Properties";

.root {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  padding: 12px;

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 4px 0;
    border-bottom: 1px solid $gray-20;

    .monthContainer {
      display: flex;
      flex-direction: row;

      h2 {
        min-width: 120px;
        color: $gray-80;
        font-size: 24px;
        margin: 0;

        @include breakpoint-below-small {
          font-size: 20px;
        }
      }

      .iconButton {
        display: flex;
        justify-content: center;
        align-items: center;
        background: none;
        border: none;
        outline: none;
        padding: 0 8px;
        color: $gray-60;
        font-size: 24px;

        @include breakpoint-below-small {
          font-size: 20px;
        }

        &:disabled {
          color: $gray-20;
        }
      }
    }

    h5 {
      color: $gray-60;
      font-size: 16px;
      margin: 0;

      @include breakpoint-below-small {
        font-size: 14px;
      }
    }
  }

  .content {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 12px;

    .dayCol {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      h3 {
        color: $gray-80;
        text-transform: uppercase;
        font-size: 24px;

        @include breakpoint-below-small {
          font-size: 20px;
        }
      }

      .days {
        flex: 1;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        button {
          background: none;
          border: none;
          outline: none;
          padding: 5px;
          margin: 5px 0;
          color: $gray-80;
          font-size: 24px;

          &:disabled {
            color: $gray-40;
          }

          .circleWrapper {
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: none;
            border-radius: 50%;

            &.selectedDate {
              background: $orange-500;
              color: $white;
            }

            h2 {
              color: inherit;
              line-height: 100%;
              font-size: 24px;

              @include breakpoint-below-small {
                font-size: 20px;
              }
            }
          }
        }

        .daySpacer {
          width: 100%;
          flex: 1;
        }
      }
    }
  }
}
