@import "../../styles/Colors";

.imageUpload {
  height: 40px;
  min-width: 126px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modalContainer {
  position: fixed;
  background: $gray-5;
  width: 710px;
  height: 643px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
}

.header {
  background: $white;
  text-align: center;
  padding: 10px;
  border-radius: 8px 8px 0px 0px;
  border-bottom: 1px solid #d2d2d2;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 37px;
}

.input {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 609px;
  height: 232px;
  border: 3px dashed $orange-500;
  border-radius: 8px;
  margin: 89px 0px 61px 0px;
}

.browse {
  font-size: 24px;
  color: $orange-500;
}

#file {
  opacity: 0;
  position: absolute;
  min-width: 609px;
  min-height: 232px;
}

.button {
  margin-bottom: 25px;

  .upload {
    width: 243px;
    height: 48px;
  }
}

.uploadBar {
  width: 500px;
}
