@use "sass:color";
@import "../../styles/Colors";
@import "../../styles/Properties";

.root {
  display: flex;
  flex-direction: row;
  padding: $spacing-two $spacing-one;
  background-color: $primary-brand-color;
  align-items: center;

  .route,
  .endRoute {
    color: white;
    padding: $spacing-three $spacing-six;
    margin: 0 $spacing-four;
    cursor: pointer;
    border-radius: 8px;
    transition: 0.25s background-color;

    font-size: $font-base-size;
    line-height: $font-base-line-height;
    @include breakpoint-below-medium {
      font-size: $font-small-size;
      line-height: $font-small-line-height;
    }
  }

  .route:hover,
  .endRoute:hover,
  .selected {
    background-color: color.adjust($primary-brand-color, $lightness: -20%);
  }

  .endRoute {
    margin-left: auto;
  }
}
