@import "../../styles/Colors";

.root {
  display: flex;
  height: 120px;
  align-items: center;
  flex-direction: row;
  background-color: $white;
  border-bottom: 1px solid $gray-20;

  .sidePadding {
    flex: 1;
  }

  .mainContent {
    flex: 10;
    display: flex;
    align-items: center;
    flex-direction: row;
  }

  .route {
    margin-right: 32px;
  }

  .route:hover,
  .selected {
    cursor: pointer;

    h3 {
      color: $orange-700;
    }
  }

  .headerImg {
    width: 172px;
    margin-right: auto;
  }

  @media (max-width: 1100px) {
    .sidePadding {
      flex: 0;
    }

    .mainContent {
      padding: 0 40px;
    }
  }
}
