.container {
  width: 157px;
  height: 40px;
  display: flex;
  background: #FAFAFA;
  border: 2px solid #999999;
  color: #666666;
  box-sizing: border-box;
  border-radius: 4px;
  align-items: center;
  padding: 4px;
  cursor: pointer;
  p {
    color: inherit;
    font-weight: bold;
    font-size: 16px;
    padding: 4px;
  }
  .checkbox {
    width: 25px;
    height: 25px;
    border: 1px solid #999999;
    box-sizing: border-box;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background: #ffffff;
    color: #fd8033;
    padding: 2px;
  }
  &.checked {
    background: linear-gradient(276.34deg, #ec762f 0%, #fd9755 100%);
    border: 2px solid #ec762f;
    color: #FFFFFF;
    .checkbox {
      border: 1px solid #ec762f;
    }
  }
}