@import "../../styles/Colors";

.root {
  display: flex;
  background: $gray-5;
  flex-direction: column;
  padding: 12px 0 0 40px;
  border-right: 1px solid $gray-20;

  h3 {
    color: $gray-40;
    margin: 0 0 30px;
  }

  .page {
    width: 180px;
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    margin: 0 0 16px;

    h3 {
      margin: 0;
      color: $gray-40;

      &.active,
      &:hover {
        color: $gray-80;
      }
    }

    .rectangle {
      width: 7px;
      height: 100%;
      flex-shrink: 0;
      margin-left: auto;
      background: $orange-500;
      border-radius: 30px 0 0 30px;
    }
  }
}
