@import "../../../styles/Colors";

.statuses {
  border: none;
  background: none;
  margin: 32px 59px 36px 0px;
  font-size: 16px;
  font-weight: 800;
  color: $gray-40;

  &.active {
    color: $gray-80 !important;
    border-bottom: 4px solid $orange-500 !important;
  }
  &:hover {
    color: $gray-60;
    border-bottom: 4px solid $orange-300;
  }
}

.pending,
.verified,
.unverified {
  padding: 8px;
  border-radius: 10px;
}

.pending {
  background-color: #ffdfb8;
}

.verified {
  background-color: #daf9bb;
}

.unverified {
  background-color: #e2e2e2;
}
