@import "../../../styles/Colors";

.statuses {
  border: none;
  background: none;
  margin: 32px 59px 0px 0px;
  font-size: 16px;
  font-weight: 800;
  color: $gray-40;

  &.active,
  &:hover {
    color: $gray-80;
  }
}

.rectangle {
  // width: 84px;
  // height: 4px;
  background: $orange-500;
  border-radius: 4px;
  color: $gray-80;
}
